In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [12]:
df.iloc[3]

course_name    Data Engineer
duration                   4
Name: 3, dtype: object

In [17]:
import pandas as pds
df.iloc[[1,2],0]

1    Machine Learning
2            Big Data
Name: course_name, dtype: object

In [27]:

#newdf = df.reindex[3,0,1,2]

In [23]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [25]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object